h1 {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  font-family: "roboto";
  position: relative;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  font-size: 22px;
  line-height: 40px;
  color: #355681;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(53, 86, 129, 0.3);
  text-align: center;
  margin: 10px;
}

/*Container*/
.wrapper {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
}

.search-label {
  position: relative;
}

.wrapper input {
  width: 100%;
  padding: 16px;
  font-size: 26px;
  font-style: normal;
  color: #444;
  box-sizing: border-box;
  outline: none;
  font-weight: 600;
  font-family: "roboto";
}

.search-icon {
  position: absolute;
  top: -10px;
  font-size: 24px;
  color: #555;
  right: 18px;
}
/* Results */
.results-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.result-items {
  position: relative;
  padding: 16px;
  border: 1px solid #898989;
  margin: 16px;
  text-align: center;
  min-width: 200px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #898989;
}
.image-username {
  color: coral;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
}
.image {
  width: 200px;
  height: 200px;
}
.image-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  justify-content: center;
}
/*Loader*/
.search-loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
/*Show and hide*/
.show {
  display: inline-block;
}
.hide {
  display: none;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 10px 0;
  transition-duration: 0.4s;
  cursor: pointer;
}
.hover:hover {
  background-color: #4caf50;
  color: white;
  margin: 20px;
}
